@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.footer_container{
    font-family: 'Inter', sans-serif;
    background: rgb(17,16,23);
background: linear-gradient(90deg, rgba(17,16,23,1) 23%, rgba(14,140,43,1) 56%, rgba(219,13,194,1) 87%);

}